@import "../shared/colors";

.pos-card {
  border-radius: 5px;
  // border: 1px solid $primary-color-darker;
  background-color: $secondary-color;
  padding: 4px;
  // text-align: center;
  cursor: pointer;
  height: 80px !important;
  overflow: hidden;
}

.counter-component {
  position: fixed;
  display: block;
  width: 80vw;
  height: 20vh;
  bottom: 0;

  @media screen and (max-width: 600px) {
    width: 93vw;
  }
}
